<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="VYH77GDc5e" />
    <!-- 百度站内搜索 -->
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li href='/'>首页</li>
        <li href='/moment.html'>时间线</li>
        <li href='/about.html'>关于</li>
      </ul>
    </nav> 
    <div class="blog_index">
      <div>
        {{content}}
      </div>
    </div>
    <footer id="footer">
      <p>
        <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253065108'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253065108' type='text/javascript'%3E%3C/script%3E"));</script> -->
      </p>
    </footer>
  </body>
</html>
